.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav a{
    width: 100%;
    display: block;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
}

img[src="./images/logo/Booki.png"] {
  padding: 30px 0;
  width: 61.09px;
  height: 19px;
}

.navbar nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  margin-left: 50px;
  position: relative;
}

.navbar nav ul li a:hover {
  color: #0065FC;
  text-decoration: none;
}

.navbar nav ul li::before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #0065FC;
  transition: width 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar nav ul li:hover::before {
  width: 100%;
}

@media screen and (max-width: 768px) {

  .searchbar {
    padding: 20px;
  }

  nav {
    width: 100%;
  }

  img[src="./images/logo/Booki.png"] {
    margin: auto;
  }

  .navbar nav ul li  {
    width: 50%;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #F2F2F2;
  }

  .navbar nav ul li::before {
    top: 100%;
  }

  .h1 {
    font-size: 22px;
  }
}
