.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img[src="./images/logo/Booki.png"] {
  margin-top: 10px;
  width: 61.09px;
  height: 19px;
}

.navbar nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  margin-left: 50px;
  position: relative;
}

.navbar nav ul li a:hover {
  color: #0065FC;
  text-decoration: none;
}

.navbar nav ul li::before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #0065FC;
  transition: width 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar nav ul li:hover::before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  img[src="./images/logo/Booki.png"] {

    }
  .navbar a {

  }

  .h1, p {
    white-space: nowrap;
  }
}
