.searchbar-display {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 49px;
}

.search-form {
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid #F2F2F2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    width: auto;
}

.search-form input::placeholder{
    font-weight: bold;
    color: black
}

.search-form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border : none;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

.search-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  height: 100%;
}

.icon-wrapper {
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    width: 50px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 100%;
}

.fa-location-dot {
  color: black;

}

#search-btn-mobile {
  display: none;
}

.p {
  font-size: 19px;
}

@media screen and (max-width: 768px) {

    .searchbar h1 {
        font-size: 22px;
    }

    .search-form {
        width: 100%;
    }

    #search-btn-desktop {
        width: 49px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }


    #search-btn-desktop span {
        display: none;
    }

    #search-btn-desktop #search-btn-mobile {
        display: block;
    }

    .p {
      font-size: 16px;
    }
}
